<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
				List of UserPlan
					
			</h2>
        </div>
    </div>



    <div>
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>slNo</th>
                    <th>Plan</th>
                    <th>Owner</th>
                    <th>createOn</th>
                    <th>Co-planner</th>
                    <th>Locked</th>
                    <th>Complete</th>
                    <th>UnderReview</th>
                    <th>LinkGenerated</th>
                    <th>Reviewer</th>
                    <th>Action</th>

                </tr>
            </thead>

            <thead>
                <tr>

                    <th>&nbsp;</th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input st-ratio="80" class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="TrainNo" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input st-ratio="80" class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="code" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="arrival" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="departure" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="ArrivalMin" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="depMin" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="distance" size="10" />
                        </div>
                    </th>
                    <th>
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control input-sm" type="text" ng-model="sTrainNo" placeholder="locoType" size="10" />
                        </div>
                    </th>

                </tr>
            </thead>



            <tbody>
                <tr ng-repeat="userplan in userPlanLists">
                    <td>{{$index+1}}</td>
                    <td>{{userplan.planName}}</td>
                    <td>{{userplan.owner}}</td>
                    <td>{{userplan.createdTime | date : 'shortDate'}}</td>

                    <td>
                        <div ng-repeat="co in userplan.coPlanners">
                            {{co}}</br>
                        </div>

                    </td>

                    <td>{{userplan.isLinkGenerated}}</td>
                    <td>{{userplan.isLocked}}</td>
                    <td>{{userplan.isUnderReview}}</td>
                    <td>{{userplan.isComplete}}</td>
                    <td>{{userplan.reviewer}}</td>


                    <td>
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                        
                        <button type="button" class="btn btn-success btn-sm">
                           <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                        
                         <button type="button" class="btn btn-yellow btn-sm">
                           <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                        
                        
                         <button type="button" class="btn btn-danger btn-sm">
                           <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        
                       

                        

                    </td>


                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <custom-pagination></custom-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>





</div>