<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Blank</h1>
		</div>


		<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;"
			next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage">
		</pagination>



		<code class="titip-bottom">
      .titip-bottom .titip-active
      <span class="titip-content thick-border">
        <strong>Hello</strong> this is an active content
        <br> <span class="text-warning">you can use custom</span> html,
        <br> etc. in content element
      </span>
    </code>



		<div ng-dropover ng-dropover-options="{'position':'bottom-center','triggerEvent':'hover'}">
			<button class="regular-button">Hover Over Me!</button>
			<div ng-dropover-contents>
				Dropover contents!
			</div>
		</div>


		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>