<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Blank</h1>
		</div>


		<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;"
			next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage">
		</pagination>



		<code class="titip-bottom">
      .titip-bottom .titip-active
      <span class="titip-content thick-border">
        <strong>Hello</strong> this is an active content
        <br> <span class="text-warning">you can use custom</span> html,
        <br> etc. in content element
      </span>
    </code>



		<div ng-dropover ng-dropover-options="{'position':'bottom-center','triggerEvent':'hover'}">
			<button class="regular-button">Hover Over Me!</button>
			<div ng-dropover-contents>
				Dropover contents!
			</div>
		</div>



		<ul class="nav nav-tabs">
			<li ng-class="{'active' : activeTab==1}"> <a href="" ng-click="setActiveTab(1)">One</a></li>
			<li ng-class="{'active' : activeTab==2}"> <a href="" ng-click="setActiveTab(2)">Two</a></li>
			<li ng-class="{'active' : activeTab==3}"> <a href="" ng-click="setActiveTab(3)">Three</a></li>
		</ul>

		<div class="tab-content">
			<div ng-class="{'tab-pane active': activeTab===1 , 'tab-pane' : activeTab !==1}">

				Panels 1

				<img src="http://angularjs.learnwebtutorials.com/graphics/20/more-complex-ng-class.jpg">

			</div>
			<div ng-class="{'tab-pane active': activeTab===2 , 'tab-pane' : activeTab !==2}">

				Panels 2

			</div>
			<div ng-class="{'tab-pane active': activeTab===3 , 'tab-pane' : activeTab !==3}">

				Panels 3


			</div>

		</div>

		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>