<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Test Page</h1>
		</div>


		<style>
			th {
				background: green;
				color: white;
				box-shadow: 2px 4px 1px brown;
			}
			
			th:hover {
				background: green;
				color: white;
				box-shadow: 2px 4px 1px brown;
			}
			
			tr.ng-enter {
				animation: bounce;
				animation-duration: 1s;
			}
			
			tr.ng-leave {
				animation: bounce;
				animation-duration: 1s;
			}
		</style>


		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userLists">
					<td>{{user.id}} </td>
					<td>{{user.title}}</td>
					<td>{{user.body}} </td>
					<td style="width:100px">

						<a href="" ng-click="remove(user)">
							<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
						</a>
						<a href="" ng-click="">
							<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
						</a>
					</td>
				</tr>


			</tbody>
		</table>



		<div class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<p>One fine body&hellip;</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->




		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>