<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Test Page</h1>
		</div>


		<style>
			th {
				background: darkred;
				color: white;
				box-shadow: 2px 4px 1px brown;
			}
			
			th:hover {
				background: darkred;
				color: white;
				box-shadow: 2px 4px 1px brown;
			}
			
			tr.ng-enter {
				animation: bounce;
				animation-duration: 1s;
			}
			
			tr.ng-leave {
				animation: bounce;
				animation-duration: 1s;
			}
		</style>


		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userLists">
					<td>{{user.id}} </td>
					<td>{{user.title}}</td>
					<td>{{user.body}} </td>
					<td style="width:100px">

						<a href="" tooltip="click to delete" tooltip-placement="left" ng-click="remove(user)">
							<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
						</a>
						<a href="" ng-click="">
							<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
						</a>
					</td>
				</tr>


			</tbody>
		</table>


<div cg-busy="{promise:myPromise,message:'Loading',backdrop:false,templateUrl:'views/pages/myAwesomeTemplate.html',delay:300,minDuration:700}"></div>






		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>