<div class="row">
    <div class="col-lg-12">

        <br/>


        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Create Class

                </h2>
            </div>
        </div>



        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">Class :</label>
                    <select ng-change="changeClass(se.selectClass)" name="class" ng-options="se as se.name for se in selectMenu" id="class" ng-model="selectClass"
                        class="form-control">
                        <option value="">--Select Class--</option>
                        
                   </select>
                </div>
            </div>



            <div class="col-md-4">
                <div class="form-group">
                    <label>Add Sections :</label>
                    <select name="sec" ng-options="s as s.sectionname for s in sections" id="sec" ng-model="selectSection" class="form-control">
                        <option value="">--Select Section--</option>
                        
                   </select>
                </div>
            </div>

            <div class="col-md-4" style="margin-top: 22px;">
                <button type="button" ng-click="addSection()" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
             </button>

            </div>


            <div class="col-md-4" ng-show="showOthers">

                <div class="form-group">
                    <label for="usr">Enter Others:</label>

                    <input type="text" class="form-control" id="usr">

                </div>

            </div>

        </div>



        <div class="col-sm-2" ng-repeat="s in sectionArray">
            <div class="panel panel-default">
                <div class="panel-heading-custom">Added Section</div>
                <div class="panel-body">
                    <small><ng-letter-avatar data="{{s.sectionName.sectionname}}" rotatedeg="0" shape="round"></ng-letter-avatar></small>
                
                <a ng-click="sectionRemove(s)">
                <i class="fa fa-trash-o fa-2x" style="color:red"  aria-hidden="true"></i>
                </a>

                </div>
            </div>
        </div>
    </div>

     <div class="col-lg-6"></div>



    <div class="col-lg-6">

        <button type="button" class="btn btn-primary" style="border-radius:0px">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save</button>

    </div>

</div>