<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create User</h1>
        </div>


        <div class="row">
            <div class="col-lg-12" id="userFormDiv">
                <form role="form" name="userForm" ng-class="submitClass" novalidate ng-submit="userForm.$valid && saveUser()">
                    <div class="col-lg-6">
                        <div class="input-group">


                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-male fa-lg" aria-hidden="true"></i></span>
                            <input type="text" name="username" ng-required="true" class="form-control" placeholder="Enter User Name" ng-model="userdetails.userName">
                            <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.username.$dirty && userForm.username.$invalid)">
						<span ng-show="userForm.username.$error.required">User Name
							is required.</span>
                            </span>
                        </div>
                        <br>

                        <div class="input-group">

                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-bell fa-lg" aria-hidden="true"></i></span>
                            <input placeholder="Enter First Name" ng-model="userdetails.firstName" ng-required="true" name="firstname" type="text" class="form-control">                            <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.firstname.$dirty && userForm.firstname.$invalid)">
						<span ng-show="userForm.firstname.$error.required">First
							Name is required.</span>
                            </span>
                        </div>
                        <br>

                        <div class="input-group">

                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-book fa-lg" aria-hidden="true"></i></span>
                            <input placeholder="Enter Last Name" name="lastname" type="text" ng-model="userdetails.lastName" class="form-control">
                            <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.lastName.$dirty && userForm.lastName.$invalid)">
						<span ng-show="userForm.lastName.$error.required">last
							Name is required.</span>
                            </span>
                        </div>
                        <br>

                        <div class="input-group">
                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-key fa-lg" aria-hidden="true"></i></span>
                            <input type="password" name="password" ng-required="true" class="form-control" placeholder="Enter Your Password" ng-model="userdetails.password">
                            <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.password.$dirty && userForm.password.$invalid)">
						<span ng-show="userForm.password.$error.required">Password Required.</span>
                            </span>
                        </div>

                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                            <input type="email" name="email" ng-required="true" placeholder="your@email.com" class="form-control" ng-model="userdetails.email"
                            /> <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.email.$dirty && userForm.email.$invalid)">
						<span ng-show="userForm.email.$error.required">Email is
							required.</span> <span ng-show="userForm.email.$error.email">Invalid
							email address.</span>
                            </span>
                        </div>
                    </div>
                    <br>


                    <div class="col-lg-6">

                        <div class="input-group">

                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-bank fa-lg" aria-hidden="true"></i></span>
                            <select class="form-control" ng-model="userdetails.roleCode" ng-required="true" name="role" ng-options="role.roleCode for role in roles">
						        <option value="" selected>--Select Role--</option>
					        </select> <span style="color: red" ng-show="(submitClass=='ng-submitted') || (submitClass!='hide-errors' && userForm.role.$dirty && userForm.role.$invalid)">
						<span ng-show="userForm.role.$error.required">User Role is
							required.</span>
                            </span>

                        </div>
                        <br>

                        <div class="form-group">
                            
                            <div class="checkbox">
                                <label> <input type="checkbox" value="false"
							ng-model="userdetails.userActive">{{ userdetails.userActive ?
							'User Is Active':'User Is Not Active' }}
						</label>
                            </div>
                        </div>
                        
                        <br>

                        <div class="input-group">
                            <span class="input-group-addon" style="border-radius:0px"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span>
                            <input type="text" placeholder='Mobile Number' class="form-control" ng-model="userdetails.mobileNo">
                        </div>



                        <div class="form-group">

                            <!-- <label class="control-label">Head Station {{userdetails._ref.headStation == null}}</label> -->
                            <label class="control-label">Subscribe to make CrewLinks for (Base Station)</label>
                            <angucomplete-alt id="ddlHeadStation" placeholder="Search Stations" input-name="headstation" pause="400" selected-object="headStationSelected"
                                remote-url-data-field="_embeddedItems" title-field="code" description-field="name" remote-api-handler="getHeadStation"
                                minlength="2" input-class="form-control form-control-small" match-class="highlight"></angucomplete-alt>

                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-repeat="selectheadstation in selectedHeadStation">

                                        <div class="col-md-6">
                                            <div class="panel-body">
                                                {{selectheadstation.code}}
                                                <a class="btn btn-danger btn-xs glyphicon glyphicon-minus" ng-click="removeheadStation(selectheadstation);"></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- 	<span style="color: red"
						ng-show="(submitClass=='ng-submitted') && (submitClass!='hide-errors' && userdetails._ref.station == null)">
						<span ng-show="userdetails._ref.station == null">Head Station is required.</span>
					</span> -->
                        </div>

                    </div>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="submitClass='ng-submitted'">
					<!--{{(userdetails._links.self)?'Update':'Create'}} User !-->
                    Save User
				</button>
                        <input type="button" class="btn btn-danger btn-sm" ng-click="reset();clearInput('ddlHeadStation');" value="Reset" />

                    </div>
                    
                   
                </form>


            </div>
        </div>
        
        
        
    </div>
     
</div>