<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
				List of User
					
			</h2>
        </div>
    </div>
    
    	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">List Of Users
				<div class="input-group pull-right">
				
				<label class="control-label"> Items Per Page (1-100) </label>
						<input name="itemsperpage" class="input-sm form-control pull-right" min=1
							max=100 value=5 step=1 type="number"
							ng-model-options="{ debounce: 1000 }" ng-model="itemsPerPage">
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th st-ratio="5" >S.No.</th>
								<th st-ratio="30" st-sort="name">UserName</th>
                                <th st-ratio="30" st-sort="name">Password</th>
                                <th st-ratio="30" st-sort="name">FirstName</th>
                                <th st-ratio="30" st-sort="name">LastName</th>
                                <th st-ratio="30" st-sort="name">Email</th>
                                <th st-ratio="30" st-sort="name">Role</th>
                                <th st-ratio="30" st-sort="name">createOn</th>
								<th st-ratio="10" ng-show="true">Actions</th>
							</tr>
							<tr>
							<th>&nbsp;</th>
                            <th>&nbsp;</th> 
								<!--<th><input type="text" st-ratio="90" st-search="name"
									placeholder="Crew Type Name" st-delay="1000" /></th>
                                    !-->
								<th>&nbsp;</th>
							</tr>
						</thead>
							<tbody ng-show="isLoading" >
							<tr ng-repeat="user in users">
								<td>{{$index +1}} </td>
								<td>{{user.userName}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.roleCode}}</td>
                                <td>{{user.createdTime}}</td>
                                
								<td><a class="btn btn-xs btn-success fa fa-pencil" ng-show="true"
										ng-click="selectUser(user)" title="Edit" > 
									</a> 
										
									<a class="btn btn-xs btn-danger fa fa-trash"
									ng-click="removeUser(user)" ng-show="true"
									confirm="Are you sure to delete crew type '{{user.userName}}' !!!"
									confirm-settings="{size: 'md'}"
									confirm-header-class="confirm-header-danger "
									confirm-footer-class="confirm-footer-default"
									confirm-ok-button-class="btn-danger"
									confirm-cancel-button-class="btn-default"
									confirm-title="Confirm Deletion!!" confirm-ok="Yes"
									confirm-cancel="No" title="Remove"> 
									</a>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="isLoading">
							<tr>
								<td colspan="4" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i> Loading Data...</td>
							</tr>
						</tbody>

						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-items-by-page="itemsPerPage" st-pagination=""
										st-template="scripts/directives/pagination/pagination.custom.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
    
    
    

    <!-- Modal !-->

    

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!--- End Modal !-->




</div>