<div>
    <nav>
        <ul class="pagination">
            <li><a ng-click="(currentPage!=1)?selectPage(1):null">First</a>
            </li>
            <li><a ng-click="(currentPage!=currentPage - 1)?selectPage(currentPage - 1):null">&lt;</a>
            </li>
            <li>
                <a>
                     of 500 </a>
            </li>
            <li><a ng-click="(currentPage!=currentPage + 1)?selectPage(currentPage + 1):null">&gt;</a>
            </li>
            <li><a ng-click="(currentPage!=numPages)?selectPage(numPages):null">Last</a></li>
        </ul>
    </nav>
</div>