.btn-default {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.customFieldSet{
    color:black;
    background: #cccccc!important;
}

div.others {
  transition: all linear 0.5s;
  background-color: lightblue;
  border: 1px black solid;
}

 div.headerText {
            width: auto;
            height: auto;
            padding: 10px;
            background-color: #EEEEE4;
            box-shadow: 10px 10px 5px grey;
        }
        
.confirm-header-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.confirm-footer-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}